<ion-header >
  <ion-toolbar primary>
    <ion-title >
    Formulario de contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellido</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Dirección</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Telefono</ion-label>
  <ion-input  ></ion-input>
</ion-item>

<ion-row></ion-row>
<ion-row></ion-row>
<ion-button expand="full" style="margin-top:20px;" >Guardar</ion-button>
</ion-content>
