<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/plataforma.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/images/futbol.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Selección Colombia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Dayro Moreno, Johan Arango y Pablo Armero son algunos de los jugadores que han tenido actos de indisciplina durante su carrera. Conozca el equipo 'no tan ideal' de futbolistas reconocidos más por </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/images/plataforma.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/images/futbol.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/futbol.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/plataforma.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img src="/assets/images/futbol.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nueva plataforma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Colsubsidio presentó XPosible para promover a empresas que hacen negocios con consciencia social.</p>
    </ion-card-content>
  </ion-card>

</ion-content>